{% load static %}
{% load i18n %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>DSNAA </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static '/img/favicon.ico' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        
         
            <link rel="stylesheet" href="{% static '/css/slicknav.css' %}">
           <link rel="stylesheet" href="{% static 'registration/css/Latest-Events.css' %}">
            
            <link rel="stylesheet" href="{% static '/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static '/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static '/css/slick.css' %}">
            <link rel="stylesheet" href="{% static '/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static '/css/style.css' %}">
            <link rel="stylesheet" href="{% static '/css/dsnaa.css' %}">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static '/img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent ">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1">
                            <div class="logo">
                                <a href="{% url 'home' %}"><img class="logo" src="{% static '/img/logo/logo.png' %}" alt="DSNAA" height="90" width="130" ></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav> 
                                    <ul id="navigation">    
                                        <li><a href="{% url 'home' %}"> Home</a></li>
                                        <li><a href="#">Who we are</a>
                                        <ul class="submenu">
                                            <li><a href="#objectives">Our Objectives</a></li>
                                            <li><a href="#team">Our Team </a></li>
                                            <li><a href="elements.html">Our Partners</a></li>
                                        </ul>
                                        
                                    </li>
                                    <li><a href="#projects">Projects</a>
                                        <ul class="submenu">
                                            <li><a href="elements.html">AI Map</a></li>
                                            <li><a href="elements.html">AI Network</a></li>
                                            <li><a href="elements.html">AI Quiz</a></li>
                                            <li><a href="elements.html">AI E-library</a></li>
                                            <li><a href="elements.html">AI Media</a></li>
                                        </ul>
                                    </li>
                                    <li><a htef="/contact"  >Media</a></li>
                                    <li><a href="/contact"  >Agenda</a></li>
                                    <li><a href="/blog">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'blog' %}">Blog</a></li>
                                            <li><a href="single-blog.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact' %}"  >Contact</a></li>
                                    <li><a href=""><i class="fa fa-language" aria-hidden="true"></i></a>
                                        <ul class="submenu">
                                        {% get_current_language as LANGUAGE_CODE %}
                                            {% get_available_languages as LANGUAGES %}
                                            {% get_language_info_list for LANGUAGES as languages %}

                                            {% for lang in languages %}
                                            <li><a href="/{{ lang.code }}/">{{ lang.name_local }}</a></li>
                                         {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                                
                                </nav>
                            </div>
                        </div>             
                        <div class="col-xl-1 col-lg-2 col-md-2">
                            <div class="header-right-btn f-right d-none d-lg-block">
                            {% if user.is_authenticated %}
                        
                                Welcome {{ user.username }} 
                                <a href="{% url 'logout' %}" class="btn header-btn">Log out</a>
                                {% else %}
                                <div class="col-xl-0 col-lg-1 col-md-1">
                                <a href="{% url 'login' %}" class="btn header-btn">Log in</a>

                                {% endif %}
                                </div>
                            </div>    
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

<body>

     <!-- Slider Area Start-->
    
        <div class="container">
            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center mb-80">
                        
                    </div>
                </div>
            </div>
        </div>
    


    <section><div class="blog-home2 py-5">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h3 class="my-3">Upcoming Events</h3>
        <h6 class="subtitle font-weight-normal">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</h6>
      </div>
      <!-- Column -->
      <!-- Column -->
    </div>
    <div class="row mt-4">
      <!-- Column -->
      <div class="col-md-4 on-hover">
        <div class="card border-0 mb-4">
          <a href="#"><img class="card-img-top" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img3.jpg" alt="wrappixel kit"></a>
          <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Oct<span class="d-block">23</span></div>
          <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">You should have eagle’s eye on new trends and techonogies</a></h5>
          <p class="mt-3">Business Park, Opp. Corns Sam Restaurant, New Yoark, US</p>
          <a href="#" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4 on-hover">
        <div class="card border-0 mb-4">
          <a href="#"><img class="card-img-top" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img2.jpg" alt="wrappixel kit"></a>
          <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Oct<span class="d-block">23</span></div>
          <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">New Seminar on Newest Food Recipe from World’s Best</a></h5>
          <p class="mt-3">Business Park, Opp. Corns Sam Restaurant, New Yoark, US</p>
          <a href="#" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-4 on-hover">
        <div class="card border-0 mb-4">
          <a href="#"><img class="card-img-top" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img1.jpg" alt="wrappixel kit"></a>
          <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">Oct<span class="d-block">23</span></div>
          <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">Learn from small things to create something bigger.</a></h5>
          <p class="mt-3">Business Park, Opp. Corns Sam Restaurant, New Yoark, US</p>
          <a href="#" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>










    <!-- Footer Start-->
      <div class="footer-main" data-background="{% static '/img/shape/footer_bg.png' %}">
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-3 col-md-4 col-sm-8">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                              <!-- logo -->
                             <div class="footer-logo">
                                 <a href="index.html"><img src="{% static '/img/logo/logo.png'%}" alt=""></a>
                             </div>
                             <div class="footer-tittle">
                                 <div class="footer-pera">
                                     <p class="info1">221B Baker Street, P.O Box 353 Park <br> Road, USA - 215431</p>
                                     <p class="info2">info@yourdomain.com</p>
                                </div>
                             </div>
                             <div class="footer-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                         </div>
                       </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="about.html">Features</a></li>
                                    <li><a href="single-blog.html">Pricing</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#"> Sitemap</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Report a bugb</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Core Features</h4>
                                <ul>
                                 <li><a href="#">Email Marketing</a></li>
                                 <li><a href="#"> Offline SEO</a></li>
                                 <li><a href="#">Social Media Marketing</a></li>
                                 <li><a href="#">Lead Generation</a></li>
                                 <li><a href="#"> 24/7 Support</a></li>
                             </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex align-items-center">
                         <div class="col-xl-12 ">
                             <div class="footer-copy-right text-center">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | DSNAA </i></a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
      </div>
       <!-- Footer End-->

   </footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static '/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static '/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static '/js/popper.min.js' %}"></script>
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'registration/js/jquery.min.js' %}"></script>
    <script src="{% static 'registration/bootstrap/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static '/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static '/js/owl.carousel.min.js' %}"></script>
        <script src="{% static '/js/slick.min.js' %}"></script>
        <!-- Date Picker -->
        <script src="{% static '/js/gijgo.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static '/js/wow.min.js' %}"></script>
		<script src="{% static '/js/animated.headline.js' %}"></script>
        <script src="{% static '/js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static '/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static '/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static '/js/jquery.sticky.js' %}"></script>
        
        <!-- contact js -->
        <script src="{% static '/js/contact.js' %}"></script>
        <script src="{% static '/js/jquery.form.js' %}"></script>
        <script src="{% static '/js/jquery.validate.min.js' %}"></script>
        <script src="{% static '/js/mail-script.js' %}"></script>
        <script src="{% static '/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static '/js/plugins.js' %}"></script>
        <script src="{% static '/js/main.js' %}"></script>
        
    </body>
</html>