{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>

</head>

<body>
    <div class="container-fluid">
         <section class="customer-logos slider">
                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 slide"><img src="{% static '/img/partners/client11.jpeg' %}" height="140px" width="100%"></div>
                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 slide"><img src="{% static '/img/partners/client12.jpeg' %}" height="140px" width="100%"></div>
                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 slide"><img src="{% static '/img/partners/client13.jpeg' %}" height="140px" width="100%"></div>
                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 slide"><img src="{% static '/img/partners/client17.jpeg' %}" height="140px" width="100%"></div>
                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 slide"><img src="{% static '/img/partners/client16.jpeg' %} " height="140px" width="100%"></div>
                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 slide"><img src="{% static '/img/partners/client14.jpeg' %}" height="140px" width="100%"></div>
                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 slide"><img src="{% static '/img/partners/client15.jpeg' %}" height="140px" width="100%"></div>
                </section>
        <div class="row"></div>
    </div>
    <script src="{% static 'partners/js/jquery.min.js' %}"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{% static '/js/Clients-slide-1.js' %}"></script>
    <script src="{% static '/js/Clients-slide-2.js' %}"></script>
    <script src="{% static '/js/Clients-slide-3.js' %}"></script>
    <script src="{% static '/js/Clients-slide.js' %}"></script>
</body>

</html>